@import url(./themes.css);
@import url(./media-queries.css);


* {
    margin: 0;
    padding: 0;
    font-size: calc(1em + 0.25vh);
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    border: none;
    /* transition:0.5s; */
    color: var(--general-text-color);
    text-decoration: none;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.Major {
    font-family:'Major Mono Display',monospace;
}


.B612 {
    font-family: 'B612 Mono', monospace;
}

.permanentMarker {
    font-family: 'Permanent Marker', cursive;
}

.Rubik {
    font-family: 'Rubik Mono One', sans-serif;
}

#fondo {
    background: var(--bg-gradient);
    background-size: cover;
    /* transition: 0.5s; */
}

.cabecera {
    justify-content: space-between;
    padding:1vh 1vw ;
    align-items: center;
    position: sticky;
    opacity: 0.88;
    background-color: var(--header-bg);
    top: 0px;
    z-index:999;
}


.navegacion {
    grid-template-columns: repeat(4, auto);
    grid-gap: 3vw;
    text-align: center;
}

a {
    font-size: 0.5em;
    margin: 0.5vw;
    transition: all 0.5s ease-in-out;
}

.enlaces {
    color: var(--header-text-color);
    text-align:center;
    justify-content: center;
    align-items:center;
}

.enlaces:hover {
    transform: scale(1.02);
    transform-origin: center;
    color: var(--anchor-text-hover);
    border-bottom: 0.5px solid;
    border-color: var(--anchor-hover);
}

.this {
    font-size: 0.7em;
    cursor: default;
    text-align:center;
    justify-content: center;
    align-items:center;
    color: var(--actual-page);
    font-weight: bold;
}


.cambiar-tema {
    grid-template-rows: repeat(2,auto);
    margin:1vw;
    grid-gap:1vw;
    transition: all 0.5s ease-in-out;
    align-items: center;
    justify-content: center;
}
.cambiar-tema p {
    font-size:0.5em;
    color: var(--actual-page);
    text-align:center;
}

button {
    background:none;
}
.session-theme, .local-theme {
    grid-auto-columns: repeat(auto, 1fr);
    grid-auto-flow: column;
    margin:0vw 1vw;
}
.theme-emoji div button {
    font-size:0.7em;
    border:none;
    color:var(--header-text-color);
}
.theme-emoji div button:hover {
    transform:scale(1.4);
    transition:1s;
}

.boton-contacto {
    font-size: 1.1em;
    padding: 1vh;
    border: 2px solid var(--button-border);
    border-radius: 20%;
}

.boton-contacto:hover {
    background-color:var(--button-bg-hover);
    color: var(--button-c-hover);
    border: 3px solid var(--button-hover);
}

.parentesis {
    margin-top: 4vh;
    font-size: 0.4em;
}

.footer {
    justify-content: center;
    align-items:center;
    background-color:var(--bg-footer);
    opacity:var(--opacity-footer);
}
.contenedor-footer {
    grid-template-rows: 1fr 0.5fr;
    align-items:center;
    margin:0.5vw;
    justify-content:center;
}
.contenedor-footer h4 {
    text-align:center;
    font-size: 0.6em;
    color:#000;
}
.contenedor-rrss {
    justify-content:space-around;
    align-items:center;
    text-align:center;
}
.contenedor-rrss a:hover i {
    transform: scale(1.1);
    transform-origin:center;
}
.rrss {
    font-size:1.7em;
    transition:1s;
}
.color-lin {
    background-color:#0077b5;
    padding:5px;
    background-clip:text;
    border-radius:15%;
    color:white;
}
.color-git {
    background-color:black;
    padding:5px;
    background-clip:text;
    border-radius:15%;
    color:white;
}
.color-ig {
    background: linear-gradient(180deg, #515BD5, #8134AF, #DD2A7B, #F58529, #FEDA77);
    padding:5px;
    background-clip: text;
    color:white;
    border-radius:15%;
}