/*
- Queries 4 responsive.
*/
@media only screen and (max-width:1001px)
{
    .contenedor-principal img {
        display: none; 
    }
    .theme-emoji div button:hover {
        transform:scale(1.1);
    }
    .portada p {
        border-bottom:none !important;
    }
}

@media only screen and (max-width:599px)
{
    * {
        font-size:calc(1em + 0.05vh);
    }
    .theme-emoji div button:hover {
        transform:scale(1.2);
    }
}
@media only screen and (max-height: 711px)
{
    * {
        font-size:calc(1em + 0.15vh);
    }
}