[data-localTheme= 'dark'] {
    --general-text-color:#fff;
    /* - Selector General - */
    --bg-gradient: linear-gradient(180deg, #000, #000,#111, #222, #333, #333);
    --header-bg: #000;
    --header-text-color:#777;
    --anchor-text-hover: #fff;
    --bg-clickup: #DDD;
    /* - Header - */
    --opacity-img: 0.2;
    --textbox-color: #000;
    --button-border:#fff;
    --bg-image: url(../../assets/fondo.png);
    --button-bg-hover: white;
    --button-c-hover: #000;
    /* - 1 y 2 div - */
    --bg-footer:#AAA;
    --opacity-footer:0.65;
    /* - Footer - */
    --bg-cp:#000;
    --bg-ch:#fff;
}

[data-localTheme= 'light'] {
    --general-text-color:#000;
    /* - Selector General - */
    --bg-gradient: linear-gradient(180deg, #DDD, #CCC,#BBB, #AAA, #999, #888, #888);
    --header-bg: #FFF;
    --header-text-color:#AAA;
    --anchor-text-hover: #000;
    --bg-clickup: #222;
    /* - Header - */
    --opacity-img: 0.5;
    --textbox-color: #DDD;
    --bg-image: url(../../assets/edit.png);
    --button-border: #111;
    --button-bg-hover: #000;
    --button-c-hover:#FFF;
    /* - 1 y 2 div - */
    --bg-footer:#FFF;
    --opacity-footer: 0.8;
    /* - Footer - */
    --bg-cp: #FFF;
    --bg-ch: #000;
}

[data-colorTheme= 'red'] {
    --anchor-hover:red;
    --actual-page:red;
    /* - Header - */
    --texto-portada:#880f0A;
    --barra-color:#880f0A;
    --barra-border: rgb(250,128,114);
    /* */
    --textbox-title: #b22222;
    --button-hover: #880f0A;
    --hobbies-title:#880f0a;
    /* Primary & Secondary */
}
[data-colorTheme= 'blue'] {
    --anchor-hover:blue;
    --actual-page:blue;
    /* - Header - */
    --texto-portada:#0080FF;
    --barra-color: #0080FF;
    --barra-border: rgb(114,128,250);
    /* */
    --textbox-title: #73c2fb;
    --button-hover: #0080FF;
    --hobbies-title: #0080FF;
}
[data-colorTheme= 'purple'] {
    --anchor-hover:purple;
    --actual-page:purple;
    /* - Header - */
    --texto-portada:#9966cb;
    --barra-color: #9966cb;
    --barra-border: rgb(184, 114, 250);
    /* */
    --textbox-title: #8f00ff;
    --button-hover: #9966cb;
    --hobbies-title: #9966cb;
}
[data-colorTheme= 'green'] {
    --anchor-hover:lime;
    --actual-page:lime;
    /* - Header - */
    --texto-portada:lime;
    --barra-color: #39FF14;
    --barra-border:#98fb98;
    /* */
    --textbox-title: #98fb98;
    --button-hover: lime;
    --hobbies-title: #39FF14;
}