/*
* CSS Responsive - Móvil + Tablet
*/
@import url(../main.css);
@import url(../media-queries.css);
@import url(../themes.css);

.wrapper {
    grid-template-rows: 10vh 100vh 60vh 1fr;
}

.barraDeEscribir {
    animation-name: barraDeEscribir;
    -webkit-animation-name: barraDeEscribir;
    animation-duration: 1.2s;
    transition: 1.2s;
    -webkit-animation-duration: 1.2s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    color:var(--barra-color);
}

@-webkit-keyframes barraDeEscribir {
    from {
        opacity:0;
    }

    65% {
        opacity:1;
    }

    to {
        opacity:0;
    }
}

@keyframes barraDeEscribir {
    from {
        opacity:0;
    }

    65% {
        opacity:1;
    }

    to {
        opacity:0;
    }
}

.contenedor-principal {
    justify-content: center;
    width:100%;
    align-items: center;
    z-index:1;
    position:relative;
}
.contenedor-principal::before {
    content:'';
    position:absolute;
    z-index:-1;
    opacity:.5;
    width:100%;
    height:100%;
    background-size: cover;
    background-origin: content-box;
    background-image: var(--bg-image);
    background-repeat:no-repeat;
}
.portada {
    position:absolute;
    height:60%;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1vh;
}

.portada h2 {
    text-align: left;
    color: var(--textbox-title);
    font-size:1.5em;
    align-self: flex-end;
}

.portada h1 {
    font-size: 5.5em;
    text-align: center;
}

.portada p {
    text-align: right;
    font-size:1.3em;
    border-bottom: 1.5px solid var(--barra-border);
    align-self: flex-start;
    justify-self:flex-end;
}

.portada span {
    font-size: 1.3em;
    font-weight: bold;
}

.contenedor-bajo {
    justify-content: center;
    align-items: center;
    background-color: var(--textbox-color);
    opacity: 0.8;
}

.caja-texto {
    grid-template-rows: repeat(4, 1fr);
    padding: 2vh 2vw;
    width: 60vw;
    grid-gap: 2vw;
    text-align: center;
}

.caja-texto h3 {
    font-size: 1.3em;
    color:var(--textbox-title);
}

.caja-texto p {
    font-size: 0.9em;
    font-weight: bold;
}

.caja-texto span {
    margin-top: 2.5vh;
    align-items:center;
    justify-content:center;
    transition:1s;
}

.contenedor-bajo .caja-texto:hover span {
    transform: scale(1.05);
    transform-origin: center;
}

.boton-contacto {
    font-size: 1.4em;
    padding: 1vh;
    border: 2px solid var(--button-border);
    border-radius: 20%;
}

.boton-contacto:hover {
    background-color:var(--button-bg-hover);
    color: var(--button-c-hover);
    border: 3px solid var(--button-hover);
}

.parentesis {
    margin-top: 6vh;
    font-size: 0.3em;
}

.footer {
    justify-content: center;
    align-items:center;
    background-color:var(--bg-footer);
    opacity:var(--opacity-footer);
    padding:0.5vw;
}
.contenedor-footer {
    grid-template-rows: 1fr 0.5fr;
    align-items:center;
    justify-content:center;
}
.contenedor-footer h4 {
    font-size: 0.9em;
    color:#000;
}
.contenedor-rrss {
    justify-content:space-around;
    padding-bottom:0.5vw;
    align-items:center;
    text-align:center;
}
.contenedor-rrss a:hover i {
    transform: scale(1.1);
    transform-origin:center;
}
.rrss {
    font-size:2.2em;
    transition:1.5s;
}
.color-lin {
    background-color:#0077b5;
    padding:5px;
    background-clip:text;
    border-radius:15%;
    color:white;
}
.color-git {
    background-color:black;
    padding:5px;
    background-clip:text;
    border-radius:15%;
    color:white;
}
.color-ig {
    background: linear-gradient(180deg, #515BD5, #8134AF, #DD2A7B, #F58529, #FEDA77);
    padding:5px;
    background-clip: text;
    color:white;
    border-radius:15%;
}